.header-area {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 1px;
    width: 78px;
    border-right: 1px solid var(--border-color-04);
}

.header {
    display: block;
}