/* -- nav */
.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 4px;
}

.nav-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    padding: 4px 8px;
    border: 1px solid var(--border-color-04);
}

.nav-item__media-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
    padding: 6px;
    border: 1px solid var(--border-color-05);
}

.nav-item__link-area {
    display: none;
    border: 1px solid var(--border-color-01);
}

.nav-item__label-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2px;
    border: 1px solid var(--border-color-05);
}

.nav-item-label {
    font-size: 12px;
} 