/* -- base styles: highest specificity */
html {
    font-family: var(--font-type);
    font-size: var(--font-size);
    line-height: 1.5;
}

body {
    display: block;
    font-family: var(--font-type);
    font-size: var(--font-size);
}

img {
    width: 100%;
    height: auto;
}
